name: ci

on:
  pull_request:
  push:
    branches: [master]
  schedule:
    - cron: "0 3 * * *"

jobs:
  quick:
    if: github.event_name != 'schedule'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - run: mise install
      - run: mise run ci:quick

  full:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - run: mise install
      - run: mise run ci:full
